/*slider styles  */

.layout__slider{
    grid-area: slider;
    width: 100%;
    margin-bottom: 3rem;

    display: grid;
    grid-template-areas:
    "slider-1 slider-3 slider-3 slider-4"
    "slider-2 slider-3 slider-3 slider-5"
    ;
    row-gap: .3rem;
    column-gap: .3rem;
}

.slider__container-1{
    grid-area: slider-1;
}

.slider__container-2{
    grid-area: slider-2;
}

.slider__container-3{
    grid-area: slider-3;
}

.slider__container-4{
    grid-area: slider-4;
}

.slider__container-5{
    grid-area: slider-5;
}

.slider__container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider__img{
    width: 100%;
    transition: all 300ms ease-in-out;
}

.slider__container:hover .slider__img{
    transform: scale(1.1);
}

.slider__info{
    position: absolute;
    bottom: 4.1rem;
    left: .8rem;
}

.slider__category,
.carousel-games__category{
    font-weight: 400;
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px var(--bg-navbar-color);
    color: var(--primary-color);
}

.slider__line {
    position: absolute;
    left: 0.85rem;
    bottom: 3.8rem;
    height: 0.25rem;
    width: 5rem;
    background-color: var(--secondary-color);
}

.slider__container-2 > .slider__info{
    position: absolute;
    bottom: 6.55rem;
    left: .8rem;
}

.slider__container-2 > .slider__line{
    left: 0.85rem;
    position: absolute;
    bottom: 6rem;
    height: 0.29rem;
    width: 5rem;
    background-color: var(--secondary-color);
}

.slider__title{
    position: absolute;
    bottom: .85rem;
    left: .85rem;
}

.slider__link-title,
.carousel-games__link,
.fslider__link{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
    text-shadow: 1px 1px 3px var(--bg-navbar-color);
    transition: all 300ms ease-in-out;
}

.slider__rating{
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.rating__circle{
    width: 4.5rem;
    height: 4.5rem;
    /* padding: .2rem .2rem; */
    border-radius: 3.5rem;
    background-color: var(--secondary-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.rating__border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 3.5rem;
    border: 2px solid var(--primary-color);
}

.rating__mark{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color);
}
